@{
    ViewData["Title"] = "Quyền riêng tư";
}
<div class="container fade-in mt-4">
    <div class="card border-0 p-4">
        <h1 class="display-4 mb-4 text-primary">@ViewData["Title"]</h1>

        <p class="lead">Chính sách quyền riêng tư của DemoSlide1.</p>
        <hr />
        <p>Sử dụng trang này để giải thích chi tiết về chính sách bảo mật và quyền riêng tư của trang web.</p>
        <p class="text-muted">Dữ liệu của bạn được bảo mật an toàn với hệ thống Identity.</p>
    </div>
</div>
